*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(240, 156, 202);
}
table{
    margin: 100px 200px;
    border-collapse: collapse;
    background-color: white;
    border-radius: 12px 12px 0 0;
}
th, td{
    border: 1px solid black;
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
}
th{
    background-color: blueviolet;
    text-transform: uppercase;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
tr:nth-child(odd){
    background-color: rgb(245, 230, 230);
}